body, .container-fluid{
  padding:0 !important;
}

.screen{
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: #252020;
  color: white;
}


/*Splash Screen*/
#splashScreen{
  z-index: 1;
}

#splashScreen>img{
  width:100%;
  margin-top:50%;
}

#splashScreen>p{
  font-family:"quicksand";
  text-align: center;
  margin-top:30px;
}


/*compassScreen*/
#compassScreen{
  z-index: 2;
  /*display: none;*/
}

#reviewScreen{
  z-index:3;
  display: none;
  background-color: white;
}

#topbar{
  background-color: powderblue;
  display: block;
  position: fixed;
  height: 50px;
  width: 380px;
  left: 0px;
}

#backBtn{
  position: fixed;
  top:9px;
  left:8px;
}

#reviewTitle{
  font-size:24px;
  color: black;
  text-align: center;
/*  font-weight: 50px;*/
position: fixed;
top:9px;
left:117px;
}

#royalCircle{
  width:300px;
  height:300px;
  margin:auto;
  margin-top:150px;
  margin-left:20px;
  border-radius: 50%;
  background: transparent;
}

#speakerBtn1{
  position: fixed;
bottom:30px;
left:20px;
display: block;
}

#speakerBtn2{
position: fixed;
bottom:30px;
left:20px;
display: none;
}

#reviewBtn{
position: fixed;
bottom:30px;
right:20px;
}

#historytext{
  position: relative;
  font-size:19px;
  color: black;
  top:60px;
  left:3px;
}

#gamlastan{
  height: 70px;
  width:70px;
  position: absolute;
  top:95px;
  left:14px;
}

#radhuset{
  height: 70px;
  width:70px;
  position: absolute;
  top:95px;
  left: 92px;
}

#vasa{
  height: 70px;
  width:70px;
  position: absolute;
  top:95px;
  left: 169px;
}

#drottningholm{
  height:70px;
  width:70px;
  position:absolute;
  top:95px;
  left:246px;
}

/*#historical>img{

}*/

#arttext{
  position: relative;
  font-size:19px;
  color: black;
  top:140px;
  left:3px;
}

#dramaten{
  height:70px;
  width:70px;
  position:absolute;
  top:210px;
  left:14px;
}
#fotografiska{
  height:70px;
  width:70px;
  position:absolute;
  top:210px;
  left:92px;
}
#skansen{
  height:70px;
  width:70px;
  position:absolute;
  top:210px;
  left:169px;
}
#drinktext{
  position: absolute;
  font-size:19px;
  color: black;
  top:290px;
  left:14px;
}
#cafe{
  height:70px;
  width:70px;
  position:absolute;
  top:325px;
  left:14px;
}
#foodtext{
  position: relative;
  font-size:19px;
  color: black;
  top:331px;
  left:3px;
}
#restaurant1{
  height:70px;
  width:70px;
  position:absolute;
  top:442px;
  left:14px;
}
#restaurant2{
  height:70px;
  width:70px;
  position:absolute;
  top:442px;
  left:169px;
}
#restaurant3{
  height:70px;
  width:70px;
  position:absolute;
  top:442px;
  left:92px;
}
#storetext{
  position: relative;
  font-size:19px;
  color: black;
  top:410px;
  left:2px;
}
#ahlens{
  height:70px;
  width:70px;
  position:absolute;
  top:555px;
  left:14px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 67px solid rgb(46, 204, 113);
  position: fixed;
  top: 100px;
  left: 135px;
}

.category {
  width: 0;
  height: 0;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
  border-top: 118px solid;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  /* border-radius: 50%; */
  /* background: rebeccapurple; */
  /* border-top-left-radius: 50%; */
  position: fixed;

}

.category.cat1{
  top: 179px;
  left: 93px;
  transform: rotate(-7deg);
  border-top-color: rgb(231, 76, 60);
}

.category.cat2 {
  top: 280px;
  left: 140px;
  transform: rotate(137deg);
  border-top-color: rgb(155, 89, 182);
}

.category.cat3 {
  top: 227px;
  left: 41px;
  transform: rotate(281deg);
  border-top-color: rgb(241, 196, 15);
}

.category.cat4 {
  top: 212px;
  left: 155px;
  transform: rotate(65deg);
  border-top-color: rgb(41, 128, 185);
}

.category.cat5 {
  top: 290px;
  left: 71px;
  transform: rotate(209deg);
  border-top-color: rgb(230, 126, 34) ;
}

.inactive{
  border-top-color: rgb(149, 165, 166) !important;
}
